<div class="container">
    <div class="tableData">
        <div class="row">
            <div class="col-md-12">
                <table datatable class="row-border hover">
                    <thead>
                        <tr>
                            <th class="w-25">Column Name</th>
             
                            <th>Selected Rules</th>
             
                            <th>Map Rules</th>
                        </tr>
                    </thead>
             
                    <tbody>
                        <tr *ngFor="let post of attribute">
                            <td>{{ post.columnname }}</td>
             
                            <td>
                                <div *ngIf="post.mappedRule.length != 0">
                                    <ng-container *ngFor="let item of post.chipsList;let i = index">
                                        <span class="chip" *ngIf="i<5">
                                            {{item.rule}}
                                        </span>
                                    </ng-container>
                                    <span class="chipsCount" *ngIf="post.mappedRule.length > 5" (click)="displayChipsList(post)">+ {{post.mappedRule.length-5}}</span>     
                                </div>

                                <div *ngIf="post.mappedRule.length == 0">
                                    NA
                                </div>
                            </td>
             
                            <td (click)="addFieldValue(post)"><img src="../../assets/list-check_3.png" width="25px"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-end">
            <div>
                <button type="button" class="btn btn-primary px-5" [disabled]="!selectedRule" (click)="submit()">Submit</button> 
            </div>
                 
        </div>
    </div>
</div>
<!-- 
<div class="modal right_modal fade" id="information_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content ">
          Snehith
      </div>
    </div>
</div> -->
<div id="information_modal" class="modal right_modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <span style="display: flex;align-items: center;">
                <button type="button" class="close" data-dismiss="modal" (click)="closeModel()">&times;</button>
                <h5 class="modal-title">Select Business Rule <span>{{checkedList?.length}} Items selected</span></h5>
            </span>
          <button type="button" (click)="addNewRow()">Add New Rule</button>
        </div>
        <div class="modal-body">          
            <div class="row">
              <form [formGroup]="formAddRule">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <!-- <th><input type="checkbox" [checked]="isSelectedAll === true" (change)="selectAll($event.target.checked)" /></th> -->
                                <th><input #all type="checkbox" [checked]="isAllChecked" name="list_name" value="m1"
                                    (change)="checkBoxAll($event.target)" /></th>              
                                <th>Name</th>
                                <th>Category</th>
                                <th style="width: 100px;">Version</th>
                                <th>Value Check Formula</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>                        
                            <tr *ngIf="isDisplayRow">
                              
                                <td style="padding: 18px 0.5rem; visibility: hidden;"><input type="checkbox"/></td>
                                <td><input type="text" class="form-control" formControlName="valueField" [ngClass]="{'is-invalid':submited && f.valueField.errors}"></td>
                                <td><input type="text" class="form-control" formControlName="category" [ngClass]="{'is-invalid':submited && f.category.errors}"></td>
                                <td><input type="text" class="form-control" formControlName="version" [ngClass]="{'is-invalid':submited && f.version.errors}"></td>
                                <td><input type="text" class="form-control" formControlName="valueCheck" [ngClass]="{'is-invalid':submited && f.valueCheck.errors}"></td>
                                <td>
                                    <div class="d-flex justify-content-center my-1">
                                        <button class="btn btn-success btn-sm "  (click)="addRule()">Add</button>
                                        <button class="btn btn-warning btn-sm mx-1"  (click)="cancelAdd()">Cancel</button>
                                    </div>
                                </td>
                          
                            </tr>
                           
                            <tr #tr *ngFor="let field of ruledata; let i = index">
                                <!-- <td><input type="checkbox" (change)="checkCheckBoxvalue(1, $event.target.checked)" [checked]="isSelectAll == true"/></td> -->
                                <td style="padding: 10px 0.5rem;"><input  #checkbox type="checkbox" (change)="changeCheckBox(field,$event.target,i)"/></td>
                                <td><span>{{field.valueField}}</span><input type="text" class="form-control hide"></td>
                                <td><span>{{field.category}}</span> <input type="text" class="form-control hide"></td>
                                <td><span>{{field.version}}</span> <input type="text" class="form-control hide"></td>
                                <td><span>{{field.valueCheck}}</span> <input type="text" class="form-control hide"></td>
                                <td>
                                    <div class="d-flex justify-content-center mt-2">
                                        <button class="bg-primary btn-sm" *ngIf="!field.isSelected" (click)="editRule(i,field)"><i class="fa fa-edit"></i></button>
                                        <button class="bg-primary btn-sm" *ngIf="field.isSelected" (click)="close(i,field)"><i class="fa fa-close"></i></button>
                                        <button class="bg-success btn-sm" *ngIf="field.isSelected" (click)="ruleUpdate(i,field)"><i class="fa fa-save"></i></button>
                                        <button class="bg-danger btn-sm"   (click)="deleteRule(i,field)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </div>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>  
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" style="border: 2px solid; margin-right: 15px;" (click)="closeModel()">Cancel</button>
          <button type="button" class="btn btn-default" style="color: #fff;background: #015ca9;border: 2px solid #015ca9;" (click)="assignList()">Save</button>
        </div>
      </div>
  
    </div>
</div>

  
<div id="Chips_modal" class="modal right_modal fade" role="dialog">
    <div class="modal-dialog" style="width: 30%;">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <span style="display: flex;align-items: center;">
                <button type="button" class="close" data-dismiss="modal" (click)="closeModel()">&times;</button>
                <h5 class="modal-title" style="line-height: 20px;">Mapped Rules<br><span>{{selectedData?.mappedRule?.length}} rules mapped for {{selectedData?.columnname}}</span></h5>
            </span>
        </div>
        <div class="modal-body">          
            <div class="row">
                <div class="col-md-12">
                    <span class="chip" style="display: table;margin-bottom: 10px;" *ngFor="let chips of selectedData?.mappedRule;">
                        {{chips.rule}}
                    </span>
                </div>
            </div>
        </div>
      </div>
  
    </div>
  </div>